@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 1000px;
}

html{
    scroll-behavior: smooth;
}
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background:linear-gradient(rgba(0, 0, 0, 0.86),rgba(0, 0, 0, 0.86)),url(../img/bann2.jpg) ;
    background-size: cover;
    /* background-position: center; */
}

.banner .contenedor{
    width: 900px;
    text-align: center;
}

.banner .contenedor h2{
    font-size: 4em;
    color: #fff;

}



.banner .contenedor p{
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.btn{
   
    top: 0;
    left: 0;
    margin: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px 30px;
    font-size: 1em;
    background: #008cff;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn:hover{
    letter-spacing: 6px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo{
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

header.sticky .logo{
    color: #111;
    
}

header .logo span{
    color: #008cff;
}

header .navegador{
    display: flex;
    position: relative;
}

header .navegador li{
    list-style: none;
    margin-left: 40px;

}

header .navegador li a{
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

header.sticky .navegador li a{
    color: #111;
}

header .navegador li a:hover{
    color: #008cff;
}

section{
    padding: 100px;

}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.Titulo-textos{
    font-size: 2em;
    font-weight: 300;
    color: #111;
}

.Titulo-textos span{
    color: #008cff;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx{
    position: relative;
    width: 100% ;
    height: 100%;

}

.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.titulo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.servicios .contenido{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.servicios .contenido .box{
    width: 385px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.servicios .contenido .imgBx{
    position: relative;
    width: 350px;
    height: 260px;
}

.servicios .contenido .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.servicios .contenido .box .texto{
    padding: 15px 0px 5px ;
    text-align: center;
}

.contactos{
    background:linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0.616)),url(../img/contactos2.png) ;

    background-size: cover;
    background-position: 37em;
}

 .contactar{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(255, 0, 0, 0.01);
    max-width: 500px;
    margin-top: 50px;
}

.contactar h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactar .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}


.contactar .inputBox input{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.contactar .inputBox input[type="submit"]{
    
    font-size: 1em;
    color: #fff;
    background: #008cff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

footer  .redes{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 10px;
     
 }
 
 .redes li{
     list-style: none;
     
 }
 
 .redes li a{
     display: inline-block;
     margin-left: 15px;
     background: #222;
     width: 50px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     transition: 0.2s ease-in-out;
 }
 
 .redes li a:hover{
     transform: translateY(-10px);
     background: #fff;
     
 }
 
 .redes li a img{
     filter: invert(1);
     transform: scale(0.6);
 }
 
 .redes li a:hover img{
     filter: invert(0);
 }
 
 
 
 footer{
     position: relative;
     width: 100%;
     background: #008cff;
     min-height: 100px;
     padding: 20px 50px;
     margin-top: 90px;
 }
 
 footer .wave{
 position: absolute;
 top: -100px;
 left: 0;
 width: 100%;
 height: 100px;
 background: url(../img/wave.svg);
 background-size: 990px 110px;
 
 
 }
 
 footer .derechos p{
     color: #fff;
     justify-content: center;
     text-align: center;
     margin-top: 15px;
 }
 
 
 footer .wave#wave1{
     z-index: 1000;
     opacity: 1;
     bottom: 0;
     animation: animateWave 4s linear infinite;
 }
 
 footer .wave#wave2{
     z-index: 999;
     opacity: 0.5;
     bottom: 10px;
     animation: animateWave_02 4s linear infinite;
 }
 
 footer .wave#wave3{
     z-index: 1000;
     opacity: 0.2;
     bottom: 15px;
     animation: animateWave_02 3s linear infinite;
 }
 
 footer .wave#wave4{
     z-index: 999;
     opacity: 0.7;
     bottom: 20px;
     animation: animateWave_02 3s linear infinite;
 }
 @keyframes animateWave{
     0%{
         background-position-x: 1000px;
     }
     100%{
         background-position-x: 0px;
     }
 }
 
 @keyframes animateWave_02{
     0%{
         background-position-x: 0px;
     }
     100%{
         background-position-x: 1000px;
     }
 }


@media(max-width:991px){
    header,
    header.sticky{
        padding:10px 20px;
    }

    header .navegador {
        
        display: none;
    }

    header .navegador.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navegador li{
    
        margin-left: 0;
    }

    header .navegador li a{
        color: #111;
        font-size: 1.6em;
    }

    .funcionNav{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .funcionNav.active{
        background: url(../img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    
        
    }

    header.sticky .funcionNav{
        filter: invert(1);
    }

    section{
        padding: 20px;
    }

    .banner .contenedor h2{
        color: #fff;
        font-size: 4em;
    }

    .banner .contenedor p{
        font-weight: 400;
    }

    .row{
        flex-direction: column;
    }

    .row .col50{
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }

    .servicios .contenido .box{
        margin: 10px;
    }

    .servicios .contenido .box .imgBx{
        height: 268px;
    }

    .contactos{
        background: #fff;
        justify-content: center;
    }

    .contactar{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer .redes {
    
        justify-content: center;
        
    }

    .contactar{
        margin-top: 100px;
    }


    
}

@media(max-width:480px){
    .banner .contenedor h2{
        font-size: 2.5em;
    }
}
/* 
@media (max-width:361px){
    .banner{
        height: 103vh;
    }
}

@media (max-width:281px){
    .banner{
        height: 100vh;
        width: 100%;
    }

    .banner .contenedor h2{
        font-size: 1.3em;
    }

    .banner .contenedor p{
        font-size: 0.9em;
    }
} */
.forgot-p{

    text-align: end;

}
.forgot-password{

    list-style: none;
    text-decoration: none;
    color: blue;
    font-size: 15px;
}