<body>
    <header style="background: #fff;">
        <a href="#banner" style="color: black;" class="logo">FFCD<span>.</span></a>
        <!-- <div class="funcionNav" onclick="navFuncion();"></div> -->
        <ul class="navegador">
            <li><a href="../views/index.php"  style="color: black;">Inicio</a></li>
            <li><a href="#nosotros"   style="color: black;">Nosotros</a></li>
            <li><a href="#servicios"   style="color: black;" >Servicios</a></li>
            <li><a href="#contactos"   style="color: black;" >Contactos</a></li>
            <!-- <li><a href="#contactos"  onclick="navFuncion();">Login</a></li> -->
            <li><a href="../views/login.php" style="color: black;">Login</a></li>
        </ul>
    </header>
    <section class="contactos" id="contactos">

 
            <div class="contactar">
                
              
                    <h2 class="Titulo-textos"><span>C</span>ontraseña <span>A</span>ctualizada</h2>
              
              <br>
              <br>
              <span> Ha realizado la actualización de su contraseña en nuestra plataforma <b>FFCD</b></span>
              <br>
              <br>

              <span>Le invitamos a iniciar sesión y gozar de los beneficios que esta plataforma le ofrece. </span>

              <br>
              <br>
              <button><a href="../views/login.php">Iniciar Sesión</a></button>
</body>