<body>
    <header>
        <a href="#banner" class="logo">FFCD<span>.</span></a>
        <div class="funcionNav" onclick="navFuncion();"></div>
        <ul class="navegador">
            <li><a href="#banner"  onclick="navFuncion();">Inicio</a></li>
            <li><a href="#nosotros"  onclick="navFuncion();">Nosotros</a></li>
            <li><a href="#servicios"  onclick="navFuncion();">Servicios</a></li>
            <li><a href="#contactos"  onclick="navFuncion();">Contactos</a></li>
            <li><a href="../views/crud.php">CRUD</a></li>
            <!-- <li><a href="#contactos"  onclick="navFuncion();">Login</a></li> -->
            <li><a href="../views/login.php">Login</a></li>
        </ul>
    </header>
    <section class="banner" id="banner" data-aos="fade-down"  data-aos-duration="1000">
        <div class="contenedor">
            <h2>Frontend For Client Document</h2>
            <p>La pagina donde los documentos de tu empresa estaran seguros, gracias a nuestro sistema de seguridad ya que se alojaran en nuestro base local y de igual forma se guardaran en la nube de AWS, por lo tanto tendremos un backup de toda la información que consideres importante ¡Animate!</p>
            <a href="#nosotros" class="btn">nosotros</a>
        </div> 

    </section>

    <section class="nosotros" id="nosotros" data-aos="fade-down"  data-aos-duration="1000">
        <div class="row">
            <div class="col50" >
                <h2 class="Titulo-textos"><span>N</span>osotros</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi accusantium ipsa facilis fugit vero assumenda minus! Sit eos aperiam, commodi alias explicabo corrupti, adipisci quasi voluptatum non ducimus perferendis quod?
                Quibusdam  <br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quidem iusto doloribus vero dicta ullam aliquid natus, porro iure atque excepturi voluptas? Odio reprehenderit excepturi veritatis iusto sint quia ratione!
                Alias, odio aperiam exercitationem optio explicabo obcaecati voluptas ea porro vel amet minus laudantium. Repudiandae natus consequatur eligendi nostrum asperiores. </p>
            </div>

            <div class="col50">
                <div class="imgBx">
                    <img src="../img/nosotros.jpg" alt="">
                </div>
            </div>
        </div>
    </section>


    <section class="servicios" id="servicios" data-aos="fade-down"  data-aos-duration="1000">
        <div class="titulo">
            <h2 class="Titulo-textos"><span>N</span>uestros Servicios</h2>
            <p>Encontraras los servicios que ofrecemos los cuales son geniales!</p>
        </div>

       <div class="contenido">
           <div class="box"  data-aos="zoom-in" data-aos-duration="1000">
               <div class="imgBx">
                   <img src="../img/servicios-4.jpg" alt="">
               </div>

               <div class="texto">
                   <h3>Cargue de Documentos</h3>
               </div>
           </div>


           <div class="box"  data-aos="zoom-in" data-aos-duration="1000">
            <div class="imgBx">
                <img src="../img/servicios-3.jpg" alt="">
            </div>

            <div class="texto">
                <h3>Seguridad</h3>
            </div>
            </div>

            <div class="box"  data-aos="zoom-in" data-aos-duration="1000">
                <div class="imgBx">
                    <img src="../img/servicios 2.jpg" alt="">
                </div>

                <div class="texto">
                    <h3>Interfaz Intuitiva</h3>
                </div>
            </div>
       </div>
    </section>

    <section class="contactos" id="contactos" data-aos="fade-down"  data-aos-duration="1000">

        <div class="titulo">
            <h2 class="Titulo-textos"><span>C</span>ontactos</h2>
            <p>Hey! si tienes alguna duda o quieres obtener mas información sobre nosotros y nuestros servicios puedes introducir tus datos y te contactaremos</p>
        </div>

        
        
            <div class="contactar">
                <h3>Ingresa tu información</h3>

                <div class="inputBox">
                    <input type="text" placeholder="Nombre">
                </div>

                <div class="inputBox">
                    <input type="text" placeholder="Telefono">
                </div>

                <div class="inputBox">
                    <input type="text" placeholder="Email">
                </div>

                <div class="inputBox">
                    <input type="submit" value="Enviar">
                </div>

            </div>
        </div>
        
    </div>
            
    </section>

    <footer data-aos="fade-up"  data-aos-duration="1000">
        <div class="waves">
          <div class="wave" id="wave1"></div>
          <div class="wave" id="wave2"></div>
          <div class="wave" id="wave3"></div>
          <div class="wave" id="wave4"></div>
        </div>
  
        <ul class="redes">
          <li><a href=""><img src="../img/facebook.png" alt=""></a></li>
          <li><a href=""><img src="../img/instagram.png" alt=""></a></li>
          <li><a href=""><img src="../img/twitter.png" alt=""></a></li>
        </ul>
        <div class="derechos">
          <p>Copyright 2022 <span>Edinson Morales</span> Todos los derechos reservados</p>
        </div>
      </footer>

    

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript">
        window.addEventListener('scroll', function(){
            const header = document.querySelector('header');
            header.classList.toggle("sticky", window.scrollY > 0)
        })


        function navFuncion(){
            const funcionNav = document.querySelector('.funcionNav');
            const navegador= document.querySelector('.navegador')
            funcionNav.classList.toggle('active');
            navegador.classList.toggle('active')
        }

        AOS.init();
    </script>
</body>