<body>
    <header style="background: #fff;">
        <a href="#banner" style="color: black;" class="logo">FFCD<span>.</span></a>
        <!-- <div class="funcionNav" onclick="navFuncion();"></div> -->
        <ul class="navegador">
            <li><a href="../views/index.php"  style="color: black;">Inicio</a></li>
            <li><a href="#nosotros"   style="color: black;">Nosotros</a></li>
            <li><a href="#servicios"   style="color: black;" >Servicios</a></li>
            <li><a href="#contactos"   style="color: black;" >Contactos</a></li>
            <!-- <li><a href="#contactos"  onclick="navFuncion();">Login</a></li> -->
            <li><a href="../views/login.php" style="color: black;">Login</a></li>
        </ul>
    </header>
    <section class="contactos" id="contactos">

 
            <div class="contactar">
                
              
                    <h2 class="Titulo-textos"><span>R</span>establecer <span>C</span>ontraseña</h2>
              
              
              
              <span> Se va a restablecer la contraseña al siguiente correo: <b>[CORREO]</b> <br> Digite la nueva contraseña a continuación:</span>
              <br>
              <br>
              <form action="../controller/update-password.php?e=[CORREO]" method="POST">
              <div class="inputBox">
                 <input style="text-align: center;" type="password" name="Contraseña" placeholder="Nueva Contraseña">
             </div>
             <div class="inputBox">
                 <input style="text-align: center;" type="password" name="Contraseña1" placeholder="Confirmar Contraseña">
             </div>
              <br>
              
              <button type="submit">Restablecer Contraseña</button>

             </form>
</body>